.search_container {
    position: fixed;
    height: 30%;
    width: 40%;
    top: 40%;
    left: 50%;
    position: fixed;
    margin-top: -10%;
    margin-left: -20%;
    z-index: 999;
// width: 500px;
// height: 200px;
// top: 50%;
// left: 50%;
// margin-top: -100px; /* Negative half of height. */
// margin-left: -250px; /* Negative half of width. */
    background-color: rgb(var(--darker-color));
    padding: 7px;
    border-radius: 17px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .search_bar{
        $padding: 10px;
        outline: 1px solid rgb(var(--accent-color));
        border-radius: 10px;
        // height: 82%;
        width: calc(100% - ($padding * 2));
        height: 274px;
        background-size: cover;
        display: flex;
        align-items: center;
        // justify-content: center;
        padding-left: $padding;
        padding-right: $padding;
        .search_input_container{
            width: 100%;
            input::placeholder {
                color: #ffffff; 
              }
              
              /* For cross-browser compatibility, include vendor prefixes */
              input::-webkit-input-placeholder {
                color: #ffffff; 
              }
              
              input:-ms-input-placeholder {
                color: #ffffff; 
              }
              
              input::-ms-input-placeholder {
                color: #ffffff; 
              }
            display: flex;
            align-items: center;
            gap: 5px;
            // border-bo: 1px solid;
            .icon{
                width: 14px;
                height: 14px;
            }
        }
    }
    .apps_container{
        padding: 5px;   
        height: 100%;
        overflow: auto;
        .apps{
            display: flex;
            flex-direction: column;
            list-style: none;
            height: 100%;
            margin: 0;
            padding: 0;
            font-weight: 100;
            a:hover{
              color: white;
              // text-decoration: none;
            }
            .name{
                padding-left: 3px;
                display: flex;
                align-items: center;
                gap: 10px;
                text-transform: lowercase;
                cursor: url("/pointer.svg") 6 0, pointer;
            }
            .name:hover, .focused{
                background-color: rgb(var(--theme-color));
            }
            .icon{
                width: 12px;
                height: 12px;
            }
        } 
    }
}

@media (max-width: 1024px) {
  .search_container{
    width: 60%;
    margin-left: -28%;
    margin-top: -15%;
  }
}
@media (max-width: 768px) {
  .search_container{
    width: 80%;
    margin-left: -41%;
  }
}
@media (max-width: 425px) {
  .search_container{
    margin-top: -30%;
  }
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #4B5469 #2B303C;
}*/

