.ghost_button{
    border: none;
    border-radius: 6px;
    background-color: #323232;
    background-color: #1c1c1c;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-wrap: nowrap;
    padding: 3px;
    img{
        width: 100%;
        height: 19px;
    }
}

.ghost_button_selected{
    outline: 2px solid #5479b6;
}

.button_group{
    display: flex;
    gap: 5px;
    height: 100%;
}

.ghost_button_w_label{
    gap: 5px;
    font-weight: 900;
    color: white;
    fill: white;
}


@media (max-width: 1024px) {
  .ghost_button_w_label{
    min-width: 0;
  }
}