.playlistContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .cables{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  
  .musicGif{
    height: 100%;
    top: 0;
    /* position: absolute; */
  }

@container (inline-size < 500px) {
  /* Styles for when container's inline size is less than 500px */
  .cables {
    display: none;
  }
  .playlistContainer {
    grid-template-columns: 1fr; /* Adjust this as needed */
    display: block;
  }
}