.skills{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    .title-container{
      display: flex;
      flex: 1; 
      gap: 3px;
      justify-content: start;
      align-items: center;
      margin-right: 100px;
      span{
        font-weight: 900;
        line-height: 20px;
      }
    //   hr {
    //     margin: 0;
    //     align-self: center;
    //     border: none;
    //     border-top: 1px dashed #6D6D6D;
    //     /* flex-basis: 10px; */
    //     width: 52%; /* or this */
    //   }
    }
    .title{
      text-align: start;
        margin: 0 !important;
        font-size: 15px;
    }
    .icons{
      display: flex;
      .icon{
        $positioning: left;
        $size: auto 100%;
        height: 15px;
        width: 26px;
        background-size: $size;
        mask-size: $size;
        mask-position: $positioning;
        background-position: $positioning;
        background-repeat: no-repeat;
        position: relative;
      }
    }
  }

  .svgMask {
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    background-color: #ffffff; /* Your desired color */
  }

  .skills.light{
    .icon.svgMask{
      background-color: black;
    }
  }

.dot {
    height: 3px;
    width: 3px;
    outline: 1px solid #676767;
    border-radius: 50%;
    display: inline-block;
  }

  @keyframes text-slide {
    from {
      opacity: 0;
      transform: translateY(-15%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  .text-slide {
    animation: text-slide 0.3s cubic-bezier(0.83, 0, 0.17, 1);
  }
  