.skills{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    .title-container{
      display: flex;
      flex: 1; 
      gap: 3px;
      justify-content: start;
      align-items: center;
  
    //   hr {
    //     margin: 0;
    //     align-self: center;
    //     border: none;
    //     border-top: 1px dashed #6D6D6D;
    //     /* flex-basis: 10px; */
    //     width: 52%; /* or this */
    //   }
    }
    .title{
      text-align: start;
        margin: 0 !important;
        font-size: 15px;
    }
    .icons{
      display: flex;
      .icon{
        $positioning: left;
        $size: auto 100%;
        height: 15px;
        width: 26px;
        background-size: $size;
        mask-size: $size;
        mask-position: $positioning;
        background-position: $positioning;
        background-repeat: no-repeat;
        position: relative;
      }
    }
  }

.dot {
    height: 3px;
    width: 3px;
    outline: 1px solid #676767;
    border-radius: 50%;
    display: inline-block;
  }