$borderWidth: 1px;
$borderRadius: 10px;
$col2IconSize: 21px;

.start_menu{
    // position: relative;
    // bottom: 61px;
    // left: 10px;
    // height: 300px;
    // width: 300px;
    border-radius: $borderRadius;
    background-color: rgb(40,40,40,0.65);
    // background-color: rgb(40,40,40);
    backdrop-filter: blur(6px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6px 7px 9px 6px;
    height: calc(100% - 10px);
    color: white;
    font-family: 'NATS', sans-serif;
    z-index: 10;
    .search{
        margin-top: 5px;
        // height: 31px;
        .search_label{
            gap: 5px;
            text-transform: none;
        }
        // button.app_button{
        //     color: black;
        //     height: 100%;
        // }
        .app_button, .search_label{
            align-items: center;
            display: flex;
            // text-transform: none;
            justify-content: space-between;
        }
        .icon{
            width: 14px;
            height: 14px;
            background-color: #232323;
        }
    }
    button{
        border: none;
        border-radius: 4px;
        padding: 4px 8px;
        width: 100%;
        display: flex;
        gap: 7px;
        text-transform: capitalize;
        // text-wrap: nowrap;
        text-align: left;
        align-items: center;
        span{
            text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased !important;
            font-family: "IBM Plex Mono", monospace;
        }
        img{
            max-width: $col2IconSize;
            max-height: $col2IconSize;
            min-width: $col2IconSize;
            min-height: $col2IconSize;
            width: auto;
            height: auto;
        }
    }
    
    menu{
        position: relative;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
        ul{
            margin: 0;
            padding: 0;
        }
    }

    .col_1{
        display: flex;
        flex-direction: column;
        gap: 5px;
        ul{
            display: flex;
            gap: 5px;
            flex-direction: column;
        }
        button{
            color: white;
            text-transform:uppercase;
            font-size: 14px;
            font-weight: 100;
            -webkit-text-stroke: 0.1px;
        }
        .sleep{
            background-color: #49AB88;
        }
        .power_off{
            background-color: hsl(0 0% 11% / 1);
        }
        .power_off:hover{
            background-color: rgb(41, 41, 41);
        }
        .sleep:hover{
            // background-color: hsl(159, 42%, 35%);
            background-color: #50be98
        }
    }
    
    .col_2{
        overflow: hidden;

        padding: 0 5px;
        .title{
            font-family: 'NATS', sans-serif;
            font-size: 12px;
            text-transform: uppercase;    
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .app_button{
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
            overflow: visible;
            background-color: rgb(225 225 225 / 87%);
            // rgb(225 225 225 / 54%)
            font-size: 12px;
            align-items: center;
            height: 28.3px;
        } 
        button:hover{
            opacity: 0.8;
        }
    }

    
    .cute_gif{
        height: 100%;
        width: 100%;
        border-radius: $borderRadius;
        overflow: hidden;
        z-index: 2;
        cursor: pointer;
        background-color: rgb(var(--darker-color));
        background-size: auto 100%; /* Preserve aspect ratio by setting height to 100% */
        background-position: center; /* Center the image */
        background-repeat: no-repeat;
        img{
            margin: 2px;
        }
        // img{
        //     height: 100%;
        //     width: 100%;
        // }
    }
}

.start_menu:not(.light){
    // .cols_2{
    // }
    &.coffe .app_button{
        background-color: rgb(75 65 66 / 78%);
        box-shadow: 0 0 2px;
    }

    &.dark .app_button{
    }
    button.app_button{
        background-color: rgba(0, 0, 0, 0.692);
        color: white;
        .icon{
            background-color: white;
        }
    }
}



.start_menu:before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: $borderRadius; 
    padding: 2px; 
    background:linear-gradient(45deg,rgb(var(--accent-color)),rgb(var(--theme-color))); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
    z-index: 0;
}

// .start_menu.dark:before{
//     background:linear-gradient(45deg,#c7c7c7,#000000); 
// }

// .start_menu.coffe:before{
//     background:linear-gradient(45deg,rgb(171, 201, 213),rgb(75, 65, 66)); 
// }
.playlistContainer{
    /* gap: 25px; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  

  .musicGif{
    height: 100%;
    top: 0;
    /* position: absolute; */
  }
  
  
  .playlist{
    /* height: 100%;
    width: 60%;
    background-color: #181B21;
    border-radius: 7px 0px 0px 7px;
    position: absolute;
    right: 0;
    top: 0; */
    height: 100%;
    width: 100%;
    background-color: #181B21;
    margin-right: -15px;
    /* border-radius: 7px 0px 0px 7px; */
    padding-right: 15px;
  }

  .start_menu .icon{
    height: 21px;
    width: 21px; 
    background-color: black;
  }