.desktop_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    .label{
        font-family: 'IBM Plex Mono';
        font-size: 16px;
    }
    .img_wrapper{
        width: 46px;
        height: 40px;
        padding: 14px 11px;
        background-color: rgb(217,217,217,0.25);
        border-radius: 12px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.desktop_icon:hover .img_wrapper{
    background-color: rgb(217,217,217,0.50);
}

@media (max-width: 1024px) {
    .desktop_icon{
        gap: 5px;
        .img_wrapper{
            width: 38px;
            height: 33px;
        }
        .label{
            font-size: 14px;
        }
    }
}