.resume{
    display: flex;
    justify-content: center;
    background: grey;
    .saveWrapper{
        margin: 5px;
        // margin-left: auto;
        height: fit-content;
        display: flex;
        justify-content: end;
        .saveButton{
            display: flex;
            align-items: center;
            gap: 4px;
            justify-self: end;
            img{
                width: 21px;
            }
        }
}
}

.saveButton{
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 100px;
    background-color: rgb(var(--accent-color));
    color: white;
    display: flex;
    border: 2px solid white;
    &:hover{
        opacity: 0.8;
    }
    gap: 5px;
    align-items: center;
    padding: 0 15px;
    $iconSize: 24px;
    .icon{
        width: $iconSize;
        height: $iconSize;
    }
}

@container (inline-size < 600px) {
    .resume{
        display: block;
    }
}

@container (inline-size < 800px) {
      .saveWrapper{
          display: none !important;
      }
  }