.photo{
    background-position: center;
    background-size: contain;
    background-color: rgba(var(--darker-color));
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-color var(--theme-transition-ms) linear;
    -ms-transition: background-color var(--theme-transition-ms) linear;
    transition: background-color var(--theme-transition-ms) linear;
}