.miniallbtn{
    width: 10px;
    margin-right: -7px;
    margin-left: -7px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    background: hsla(0, 0%, 0%, 13%);
    background: hsla(0, 0%, 0%, 0.226);
}

.miniallbtn.dark{
    background: hsl(0deg 0% 63.14% / 22.6%);
}
.miniallbtn.dark:hover{
    background: hsla(0, 0%, 63%, 0.473);
}

.miniallbtn:hover{
    background: hsla(0, 0%, 0%, 0.451);
}
