.desktop{
    position: fixed;
    margin: 0;
    padding: 20px 10px;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    height: calc(100% - 90px);
    width: fit-content;
    max-width: fit-content;
}

@media (max-width: 1024px) {
    .desktop{
        gap: 10px;
        padding: 15px 5px;
    }
}

