.clock_container{
    display: flex;
    gap: 5px;
    align-items: center;
    .clock{
        width: 21px;
        height: 21px;
        background-color: white;
    }
    .hour_complete{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .date_container{
        display: flex;
        gap: 20px;
        align-items: 
        center;
        .hour_container{
            display: flex;
            flex-direction: column;
            gap: 2px;
            align-items: center;
            .hour{
                line-height: 1;
                font-weight: bold;
            }
            .minutes{
                line-height: 1;
                font-weight: 100;
            }
        }
        .date{
            font-weight: 100;
        }
        .meridem{
            font-weight: 100;
        }
    }
}

@media (max-width: 600px) {
    .date{
        display: none;
    }
  }