$paddingX: 30px;
.contextMenu{
    color: white;
    min-width: 150px;
    border: 1px solid #dadada;
    background-color: rgba(var(--theme-color), 50%);
    backdrop-filter: blur(5px);
    padding: 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 20;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    li{
        cursor: url("/pointer.svg") 6 0, pointer;
        padding: 1px;
        padding-right: $paddingX;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
        .icon{
            width: 15px;
            height: 15px;
        }
        .folder{
            width: 14px;
            height: 14px;
        }
        .pallete{
            width: 12px;
            height: 12px;
            margin-left: 1px;
        }
        .db{
            width: 13px;
            height: 14px;
        }
        .boxes{
            width: 11px;
            height: 11px;
            margin-left: 2px;
        }
        .ghost{
            width: 13px;
            height: 13px;
        }
        .open_icon{
            width: 16px;
            height: 14px;
        } 
        img, .svgMask{
            width: 16px;
            height: 13px;
        }
        .svgMask{
            background-color: #49AB88;
        }
        &:has(.submenu){
            position: relative;
            &:hover{
                .submenu{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .submenu{
            position: absolute;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }
        .subMenuArrow{
            position: absolute;
            right: 0;
        }
    }
    li:hover{
        background-color: #ececec63;
    }
    &.leftSubMenu .submenu{
        right: calc(100% + 6px);
    }
    &.rightSubMenu .submenu{
        left: calc(100% + 6px);
    }

}
.separator{
    border-bottom: 1px solid #e1e1e1;

    border-bottom: 1px solid rgb(var(--accent-color));
}