.desktop_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    .label{
        font-family: 'IBM Plex Mono';
        font-size: 16px;
    }
    .img_wrapper{
        width: 46px;
        height: 40px;
        padding: 14px 11px;
        background-color: rgb(217,217,217,0.25);
        border-radius: 12px;
        img, .icon{
            width: 100%;
            height: 100%;
        }
    }
}

.desktop_icon:hover .img_wrapper{
    background-color: rgb(217,217,217,0.50);
}


.desktop_icon:not(.light){
    color: white;
}
.desktop_icon:is(.light) .icon{
    background-color: black;
}

.desktop_icon.dark .img_wrapper{
    backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.25);
    }

.desktop_icon.dark:hover .img_wrapper{
    background-color: rgba(73, 73, 73, 0.205);
}

.desktop_icon.coffe .img_wrapper{
        background-color: rgb(207 185 151 / 44%)
}

.desktop_icon.coffe:hover .img_wrapper{
    background-color: rgb(207 185 151 / 55%)

}

@media (max-width: 1024px) {
    .desktop_icon{
        gap: 5px;
        .img_wrapper{
            width: 38px;
            height: 33px;
        }
        .label{
            font-size: 14px;
        }
    }
}