$hoverColor: #53b7f2;
.contact_info{
    display: flex;
    gap: 5px;
    align-items: center;
    text-wrap: nowrap;
    .contact_item{
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        background-color: #323232;
        border-radius: 7px;
        padding: 2px 5px;
        .icon{
          width: 14px;
          height: 14px;
        }
        // outline: 1px solid white;
    }
    .contact_item:hover{
      
      a{
        color: $hoverColor;
      }
      .icon{
          background-color: $hoverColor;
      }
    }
}
.socials{
    display: flex;
    gap: 10px;
}

.svg_link{
    background-color: white; 
    width: 20px; 
    height: 20px;
  }
  
  .svg_link:hover {
    background-color: #53b7f2;
  }
  a{
    font-size: 12px;
  }