$hoverColor: #56a7d6;
.contact_info.light{
  .contact_item{
    background-color: #cfcfcf;
    color: #323232;
    .icon{
      background-color: #323232;
    }
  }
  .svg_link{
    background-color: #323232;
  }
}
.contact_info{
    display: flex;
    gap: 5px;
    align-items: center;
    text-wrap: nowrap;
    .contact_item{
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: url('pointer.svg'), pointer;
        background-color: #323232;
        border-radius: 7px;
        padding: 2px 5px;
        .icon{
          width: 14px;
          height: 14px;
        }
        // outline: 1px solid white;
    }
    .contact_item:hover{
      
      &{
        color: $hoverColor;
      }
      .icon{
          background-color: $hoverColor;
      }
    }
      
  .svg_link:hover {
    background-color: $hoverColor;
  }
}



.socials{
    display: flex;
    gap: 10px;
}

.svg_link{
    background-color: white; 
    width: 20px; 
    height: 20px;
  }

  a{
    font-size: 12px;
  }