.calendar_container{
    position: fixed;
    bottom: 61px;
    right: 10px;
    background: rgb(255, 255, 255, 0.80);
    // border: 2px solid black;
    border-radius: 8px;
    width: 330px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(6px);
}

.calendar_container:not(.light){
    color: white;
    
}

.calendar_container.dark{
    background: #101010;
    background: rgba(28, 28, 28, 0.80);
}

.calendar_container.coffe{
    background: #381413;
    // background: hsl(2 49% 55% / 1);
    // background: #8f7042;
}

