.wallpaper_wrapper{

}
.background_video, .wallpaper_wrapper {
    position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      object-fit: cover;
  }

  
  .sleeping .wallpaper_wrapper{
    cursor: pointer;
  }


  .desktop{
    position: relative;
    height: 100dvh;
    width: 100dvw;
  }

  .desktopIconsWrapper{
    height: calc(100dvh - 51px);
  }
  
  .shutdown {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;  
    animation: shutdown 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  }
  @keyframes shutdown {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    70% {
      transform: scaleY(0.01) scaleX(1);
    }
    100% {
      transform: scaleY(0) scaleX(0);
      opacity: 0;
    }
  }


  .circle {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    background: rgb(255, 255, 255);
    z-index: 1;
    // transition: clip-path 0.3s linear;
    clip-path: circle(0% at 0 100%);
    // animation: 1s circle linear;
    z-index: 30;
    animation: circle 1.2s linear forwards;

}

.wallpaperImg{
  position: fixed;
  background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.dark {
  .circle{
    background: black;
  }
  .wallpaper_wrapper{
    background: rgb(12, 12, 12);
  }
}
.light {
  .circle{
    background: rgb(103, 103, 103);
  }
  .wallpaper_wrapper{
    background: rgb(255, 255, 255);
  }
}
.coffe {
  .circle{
  background: #250706;
}
.wallpaper_wrapper{
  background: #413634;
}
}

@keyframes circle {
  0% {
    clip-path: circle(0% at 0 100%);
  }
  10% {
    clip-path: circle(10% at 0 100%);
  }
  20% {
    clip-path: circle(20% at 0 100%);
  }
  50% {
    clip-path: circle(50% at 0 100%);
  }
  80% {
    clip-path: circle(80% at 0 100%);
  }
  90% {
    clip-path: circle(120% at 0 100%);
  }
  100% {
    clip-path: circle(150% at 0 100%);
  }
}
