@mixin wpp-transition($name, $transitionStartPosition) {
  @keyframes #{$name}-circle {
    0% {
      clip-path: circle(0% at #{$transitionStartPosition});  
    }
    10% {
      clip-path: circle(10% at #{$transitionStartPosition}); 
    }
    20% {
      clip-path: circle(20% at #{$transitionStartPosition}); 
    }
    50% {
      clip-path: circle(50% at #{$transitionStartPosition}); 
    }
    80% {
      clip-path: circle(80% at #{$transitionStartPosition}); 
    }
    90% {
      clip-path: circle(120% at #{$transitionStartPosition}); 
    }
    100% {
      clip-path: circle(150% at #{$transitionStartPosition}); 
    }
  }

  animation: #{$name}-circle 1.2s linear forwards;
}

.desktop {
  position: relative;
  height: 100dvh;
  width: 100dvw;


}


.circle {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  background: rgb(var(--accent-color));
  z-index: 1;
  // transition: clip-path 0.3s linear;
  // clip-path: circle(0% at 100% 0);
  // animation: 1s circle linear;
  z-index: 30;
  &.top {
    @include wpp-transition("top", 92% 0%);
  }

  &.bottom {
    @include wpp-transition("bottom", 92% 100%);
  }
  // animation: circle 1.2s linear forwards;
}



.background_video, .wallpaper_wrapper {
    position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      object-fit: cover;
      background: rgb(var(--darker-color));
  }

  
  .sleeping{
    .wallpaper_wrapper{
     transition: filter 1s ease-in-out;
     filter: brightness(30%);
     cursor: url("/pointer.svg") 6 0, pointer;
   }
  }




  .desktopIconsWrapper{
    height: calc(100dvh - 36.99px);
    width: 100%;
    position: fixed;
  }
  
  .shutdown {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;  
    animation: shutdown 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06) forwards;
  }
  @keyframes shutdown {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    70% {
      transform: scaleY(0.01) scaleX(1);
    }
    100% {
      transform: scaleY(0) scaleX(0);
      opacity: 0;
    }
  }





.skills_actions{
  height: unset;
  position: fixed;
  display: flex;
  gap: 35px;
  position: fixed;
  top: 240px;
  right: -220px;
  /* flex-flow: column-reverse; */
  // flex-direction: column;
  transform-origin: center;
  backface-visibility: hidden;
  transform: rotate(-90deg) scale(0.9999);
  transform-style: preserve-3d;
  backface-visibility: hidden;    
  -webkit-filter: blur(0);
  filter: blur(.0px);
  backface-visibility: hidden;
}

.wallpaperImg{
  position: fixed;
  background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-height: 580px) {
  .skills_actions{
      top: 130px;
      right: -110px;
  }
  .skills2{
      display: none;
  }
}

@media (max-height: 350px) {
  .skills_actions{
      display: none;
  }
}