.intro_container{
    padding: 0 20px;
    text-wrap: nowrap;
    border-radius: 15px;
    flex: 2;
    // outline: 1px solid black;
    // outline: 1px solid #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    background-color: rgb(255 255 255 / 80%);
    h6{
        margin: 0;
        font-family: 'Megrim';
        font-family: 'Julius Sans One';
        font-family: 'Oxanium';
        font-family: 'Major Mono Display';
        font-size: 14px;
        line-height: 19px;
    }
    .abrev{
        display: none;
    }
    .front{
        letter-spacing: 16px;
        font-weight: 800;
        line-height: 19px;
        font-size: 14px;
        font-family: 'Oxanium';
        /* font-family: 'Julius Sans One'; */
        font-size: 16;
    }
}

.front[data-valor="Desenvolvedor Front-end"]{
    letter-spacing: 11px;
}

@media (max-width: 730px) {
    .intro_container{
        .abrev{
            display: block;
        }
        .nome{
            display: none;
        }
        .front{
            letter-spacing: 2px;
        }
        .front[data-valor="Desenvolvedor Front-end"]{
            letter-spacing: 0;
        }
    }
}

.intro_container:not(.light){
    background-color: unset;
    // outline-color: white;
}

@media (max-width: 1600px) {
}