$paddingX: 12px;
.taskbar{
    position: fixed;
    width: calc(100% - ($paddingX * 2));
    height: 25px;
    padding: 6px 12px;
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: end;
    font-family: 'IBM Plex Mono';
    span{
        color: rgb(var(--font-color));
    }
    }

.right{
    margin-left: auto;
}



.taskbar_section_wrapper{
    flex-shrink: 0;
    border-radius: 99999px;
    background-color: rgb(var(--theme-color));
    -webkit-transition: background-color var(--theme-transition-ms) linear, color var(--theme-transition-ms) linear;
    -ms-transition: background-color var(--theme-transition-ms) linear, color var(--theme-transition-ms) linear;
    transition: background-color var(--theme-transition-ms) linear, color var(--theme-transition-ms) linear;
    // transition: width 6s ease-in-out; /* Adjust the duration and easing as needed */
    // transition: all 0.6s ease-out;

    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 3px 12px;
    font-size: 11px;
    line-height: 8px;
    button{
        width: fit-content;
        padding: 0;
        border: 0;
        background: none;
    }
}

.intro{
    justify-self: start;
    // text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4px;
    .front{
        // font-weight: 100;
        // text-transform: lowercase;
        color: hsl(0 0% 63% / 1);
    }
    a:hover{
        color: rgb(0, 132, 255); 
    }
    .welcome{
        text-decoration: none;
        font-size: 9px;
    }
}




.windows{
    min-width: 0;
    margin: 0 auto;
    flex-shrink: 1;
}

a.taskbar_section_wrapper:hover{
    opacity: .8;
}

.date_time_wrapper{
    height: 100%;
    flex-shrink: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    position: relative;
}

.date_time{
    position: relative;
}

/* Extra small devices (phones, 0px and up) */
@media (max-width: 575.98px) { 
    /* CSS rules for extra small devices */
  }
  
  /* Small devices (portrait tablets and large phones, 576px and up) */
  @media (max-width: 600px) { 
    .date_time{
        display: none;
    }
    .locale_battery{
        display: none;
    }
    /* CSS rules for small devices */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media (max-width: 768px){
    .performance{
        display: none;
    } 
    /* CSS rules for medium devices */
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 1199.98px) { 
    /* CSS rules for large devices */
    .intro{
        display: none;
    }
    .windows{
        margin-left: 0;
        margin-right: auto;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 
    .taskbar div.start{
        margin-right: 0 !important;
    }
    /* CSS rules for extra large devices */
  }
  

