.menu{
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px); /* Subtracting 10px padding on each side */
    background-color: rgba(255, 255, 255, 0.3); /* Updated to use rgba for transparency */
    height: 41px;
    padding: 5px 10px;
    display: flex;
    z-index: 2;
    gap: 10px;
    margin: 0;
    box-shadow: 0 4px 14px 7px rgba(0,0,0,.25);
}
.menu:not(.light){
    color: white;
}
.menu.dark{
    background-color: rgba(0, 0, 0, 0.603); /* Updated to use rgba for transparency */
}
.menu.coffe{
    background-color: rgb(63 59 55 / 65%);
}
.actions_skills{
    display: none;
}


@media (max-width: 1200px) {
    .skills_actions{
        height: unset;
        position: fixed;
        display: flex;
        gap: 35px;
        position: fixed;
        top: 240px;
        right: -220px;
        /* flex-flow: column-reverse; */
        // flex-direction: column;
        transform-origin: center;
        backface-visibility: hidden;
        transform: rotate(-90deg) scale(0.9999);
        transform-style: preserve-3d;
        backface-visibility: hidden;    
        -webkit-filter: blur(0);
        filter: blur(.0px);
        backface-visibility: hidden;
    }
    .actions{
        top: 270px;
    }

    .skills, .actions{
        display: none;
    }
    .contact{
        display: none;
    }
}
@media (max-width: 1580px) { 
    // .skills{
    //     display: none;
    // }
 }
@media (max-width: 1440px) { 
    .contact{
        display: none;
    }
 }
