$hourSize: 44px;
.date_hour{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    font-family: 'IBM plex mono';
    .hour_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: end;
        gap: 10px;
        .hour{
            line-height: $hourSize;
            font-size: $hourSize;
        }
        font-weight: 900;
    }
    .date{
        font-size: 16px;
        font-size: 100;
        color: rgb(var(--accent-color));
    }
}





// #977e50
// #af935e
// #5b4721