$borderRadius: 8px;
.glass_effect{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: $borderRadius;
  backdrop-filter: blur(6px);
}
.window {
    cursor: var(--default-cursor);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: $borderRadius;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    border: 1px solid rgba(var(--accent-color), 0.30);
    color: white;
    position: relative;
    overflow: hidden;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    // outline: 3px solid;
    // outline-color: rgb(var(--accent-color)) ;
    -webkit-transition: border-color var(--theme-transition-ms) linear, opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: border-color var(--theme-transition-ms) linear, opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: border-color var(--theme-transition-ms) linear, opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    // &.minimized{
    //   opacity: 0;
    // }
  }
  
  .body{
    // padding: $padding;
    padding-top: 0;
    height: calc(100% - 44px);
    width: 100%;
    box-sizing: border-box;
    iframe{
      border: none;
      border-radius: 5px;
    }
  }

  .header{
    display: flex;
    padding: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 2;
    user-select: none;
    gap: 40px;
    
    .app{
      min-width: 0;
      display: flex;
      align-items: center;
      gap: 15px;
      text-wrap: nowrap;
      img{
        width: 19px;
        height: 19px;
        -webkit-user-drag: none;
      }
      span{
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        font-family: 'IBM Plex Mono';
      }
    }
  }
  .link{
    // width: 100%;
    margin: auto;
    text-align: center;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    text-decoration: none;
    overflow: hidden;
    a{
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      -webkit-user-drag: none;
    }
  }
  .actions{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  @media (max-width: 1024px) {
    // .action::before,
    // .action::after {
    //   content: '';
    //   position: absolute;
    //   top: -15px; /* Adjust top and bottom to expand hitbox vertically */
    //   bottom: -15px;
    //   left: -15px; /* Adjust left and right to expand hitbox horizontally */
    //   right: -15px;
    //   z-index: -1; /* Push pseudo-elements below button content */
    // }
    .action{
      width: 16px;
      height: 16px;
    }
  }
  .action{
    width: 14px;
    height: 14px;
    position: relative;
    border-radius: 60px;
    border: none;

    background-position: center;
    background-size: contain;
    padding: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .close{
      background-color: #C55F69;
    }
  .close:hover{
    background-image: url(../assets/window/close.svg);
  }
  .minimize{
    background-color: #FEBC2D;
  }
  .minimize:hover{
    background-image: url(../assets/window/minimize.svg);
  }
  .maximize{
    background-color: #2ECB76;
  }
  .maximize:hover{
    background-image: url(../assets/window/maximize.svg);
  }
  .window {
    container-type: inline-size;
  }
  
  @container (inline-size < 500px) {
    .body{
      padding: 0;
    }
  }

  

  /* HTML: <div class="loader"></div> */
