@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Import Bitter font */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

/* Import Courier Prime font */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* Import Cutive font */
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');

/* Import Digital Numbers font */
@import url('https://fonts.googleapis.com/css2?family=Digital+Numbers&display=swap');

/* Import Electrolize font */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/* Import Gugi font */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* Import Happy Monkey font */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

/* Import Julius Sans One font */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* Import Kelly Slab font */
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

/* Import Major Mono Display font */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

/* Import Megrim font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Megrim&display=swap');
/* Import Oxanium font */
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/nats');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  max-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*{
    font-family: 'Inter', sans-serif;
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;  
}

a {
  font-weight: 500;
  color: #ffffff;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.menu {
  position: fixed;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  /* color: #f1f1f1; */
  width: 100%;
  /* padding: 20px; */
  /* display: flex; */
}
.skills{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  .title-container{
    display: flex;
    flex: 1; 
    gap: 3px;
    justify-content: start;

    hr {
      margin: 0;
      align-self: center;
      border: none;
      border-top: 1px dashed #6D6D6D;
      /* flex-basis: 10px; */
      width: 52%; /* or this */
    }
  }
  .title{
    text-align: start;
      margin: 0 !important;
      font-size: 15px;
  }
  .icons{
    display: flex;
    gap: 10px;
    .icon{
      height: 15px;
      width: 16px;
      background-size: auto 100%;
      background-position: center; /* Center the image */
      background-repeat: no-repeat;
    }
  }
}

.dashed_separator{
  margin: 0;
  align-self: center;
  border: none;
  border-top: 1px dashed #6D6D6D;
  /* flex-basis: 10px; */
  width: 100%;
}

.box {
  margin: 0;
  height: 100%;
  padding-bottom: 40px;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-left {
  margin-right: 10px;
}

.image.is-64x64 img {
  width: 64px;
  height: 64px;
}

.media-content {
  flex: 1;
}

.content {
  margin-bottom: 10px;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-left {
  display: flex;
  align-items: center;
}

.level-item {
  margin-right: 10px;
}

#detach-button-host {
  display: none !important;
}

.cables{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/cables.gif);
  margin-top: -64px;
  padding-bottom: 74px;
}

.musicGif{
  height: 100%;
  top: 0;
  /* position: absolute; */
}

.playlistContainer{
  gap: 25px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.playlist{
  /* height: 100%;
  width: 60%;
  background-color: #181B21;
  border-radius: 7px 0px 0px 7px;
  position: absolute;
  right: 0;
  top: 0; */
  height: 100%;
  width: 100%;
  background-color: #181B21;
  margin-right: -15px;
  border-radius: 7px 0px 0px 7px;
  padding-right: 15px;
}