@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import '@xterm/xterm/css/xterm.css';
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/nats');
@import url('https://fonts.cdnfonts.com/css/anime-ace');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  max-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* .MuiDateCalendar-root.css-1rtg91x-MuiDateCalendar-root{
  border-bottom: 1px solid;
  border-top: 1px solid;
} */

*{
    /* font-family: 'Inter', sans-serif; */
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}




a {
  font-weight: 500;
  color: #ffffff;
}
a:hover {
  color: #53b7f2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.menu {
  position: fixed;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  /* color: #f1f1f1; */
  width: 100%;
  /* padding: 20px; */
  /* display: flex; */
}


.dashed_separator{
  margin: 0;
  align-self: center;
  border: none;
  border-top: 1px dashed #6D6D6D;
  /* flex-basis: 10px; */
  width: 100%;
}

.box {
  margin: 0;
  height: 100%;
  padding-bottom: 40px;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-left {
  margin-right: 10px;
}

.image.is-64x64 img {
  width: 64px;
  height: 64px;
}

.media-content {
  flex: 1;
}

.content {
  margin-bottom: 10px;
}

.level {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-left {
  display: flex;
  align-items: center;
}

.level-item {
  margin-right: 10px;
}

#detach-button-host {
  display: none !important;
}

.backgroundImage{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.svgMask {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  background-color: #ffffff; /* Your desired color */
}

.xterm{
  height: 100%;
  
  .xterm-viewport{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.795) !important;
  }
}



/* Works on Firefox */
* {
  scrollbar-width:thin;
  scrollbar-color: rgb(8, 20, 34) rgb(228, 228, 228);
  scrollbar-color: rgb(187, 187, 187) rgb(228, 228, 228);
  /* scrollbar-color: rgb(24, 8, 34) rgb(228, 228, 228); */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(187, 187, 187);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid rgb(187, 187, 187);
}


.card {
  isolation: isolate;
}

.media-object {
  --border-width: 1px;
  --radius: 15px;
  position: relative;
  border-radius: var(--radius);
  border: var(--border-width) solid transparent;
}

.media-object::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border: inherit;
  border-radius: inherit;
  background-image: conic-gradient(from var(--angle), #d8d8d8 80%, #000000 88%, #000000 92%, #d8d8d8 100%);
  /* background-image: conic-gradient(from var(--angle), #381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%); */
  background-origin: border-box;
  -webkit-mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);  
  mask: linear-gradient(black, black),
        linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;  
  mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;  
  mask-composite: exclude;
  animation: spin 4s linear infinite;
}

@supports not (background: paint(something)) {
  .media-object::before {
background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
  }
}

.media-object:hover::before {
  animation-play-state: paused;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}



